<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springboot.sb3004ssm.repository.PersonMapper">
  <resultMap id="BaseResultMap" type="org.springboot.sb3004ssm.model.Person">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_number" jdbcType="CHAR" property="cardNumber" />
    <result column="birth" jdbcType="CHAR" property="birth" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, card_number, birth
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_person
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="org.springboot.sb3004ssm.model.Person">
      SELECT *
      FROM t_person
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_person
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.springboot.sb3004ssm.model.Person" useGeneratedKeys="true">
    insert into t_person (`name`, card_number, birth
      )
    values (#{name,jdbcType=VARCHAR}, #{cardNumber,jdbcType=CHAR}, #{birth,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.springboot.sb3004ssm.model.Person" useGeneratedKeys="true">
    insert into t_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="cardNumber != null">
        card_number,
      </if>
      <if test="birth != null">
        birth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.springboot.sb3004ssm.model.Person">
    update t_person
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        card_number = #{cardNumber,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.springboot.sb3004ssm.model.Person">
    update t_person
    set `name` = #{name,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=CHAR},
      birth = #{birth,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>